/* ==========================================================================
   DISPLAY
   ========================================================================== */

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.contents {
  display: contents;
}

/* ==========================================================================
   FLEX
   ========================================================================== */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

/* ==========================================================================
   GRID
   ========================================================================== */

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

/* ==========================================================================
   FLOW ROOT
   ========================================================================== */

.flow-root {
  display: flow-root;
}

/* ==========================================================================
   VISIBILITY
   ========================================================================== */

.hidden {
  display: none !important;
}